* {
  margin: 0;
  padding: 0;
  font-family: "Onest", sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.fl-page {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: #26323a;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 12px;
}

.container-big {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 12px;
}

p {
  color: #464647;
  font-size: 16px;
  line-height: 1.5;
}

a {
  transition: all 0.2s ease;
  text-decoration: none;
}

.buttons-coustom-wrapper {
  display: flex;
  gap: 15px;
}

.buttons-coustom-wrapper a {
  background-color: #fff;
  padding: 8px 22px 10px 11px;
  border-radius: 144px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 9px;
  color: #24343d;
  font-weight: 500;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid #e6e6e6;
}

.buttons-coustom-wrapper a:hover {
  background: #24343d;
  color: #fff;
  border-color: #24343d;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    font-size: 14px;
  }
  .container,
  .container-big {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  h2,
  h1 {
    font-size: 38px;
  }
  .container,
  .container-big {
    padding: 0 16px;
  }
  .buttons-coustom-wrapper {
    align-items: start;
  }
  .buttons-coustom-wrapper a {
    font-size: 14px;
    padding: 8px;
    padding-right: 19px;
  }
  .buttons-coustom-wrapper a img {
    width: 35px;
  }
}
